<!DOCTYPE html>
<html>
   <body>
      <table>
         <thead>
            <tr>
               <th>Id</th>
               <th>way</th>
               <th>nodeStartId</th>
               <th>nodeEndId</th>
            </tr>
         </thead>

         <tbody>
            {% for e in entities %}
               <tr>
                  <td>{{e.id}}</td>
                  <td>{{e.way.id}}</td>
                  <td>{{e.nodeStart.id}}</td>
                  <td>{{e.nodeEnd.id}}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>
