<!DOCTYPE html>
<html>
   <body>
      <table>
         <thead>
            <tr>
               <th>id</th>
               <th>node</th>
               <th>segmentStart</th>
               <th>segmentEnd</th>
            </tr>
         </thead>
    
         <tbody>
            {% for e in entities %}
               <tr>
                  <td>{{e.id}}</td>
                  <td>{{e.node}}</td>
                  <td>{{e.segmentStart}}</td>
                  <td>{{e.segmentEnd}}</td>
               </tr>
            {% endfor %}  
         </tbody>
      </table>
   </body>
</html>