{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div class="row">
        <div class="twelve columns">
            <div class="btn success medium">
                <input type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
        <div>
    </div>
{{ form_end(form) }}
