{% extends 'CLCyclabiliteVoteBundle::base_nomap.html.twig' %}

{% block title %}{{ 'v.register.form.title'|trans }}{% endblock %}

{% block headjavascript %}

   {% include('CLCyclabiliteUserBundle:_form:user_type.js.twig') %}

{% endblock headjavascript %}

{% block body %}
   <div class="row">
      <div class="twelve columns">

         <h1>{{ 'v.register.form.welcome'|trans }}</h1>

         <p>{{ 'v.register.form.welcome_message'|trans }}</p>

      </div>
   </div>
   {% include('CLCyclabiliteUserBundle:_form:user_type.html.twig') %}

{% endblock body %}
