{% extends 'CLCyclabiliteVoteBundle::base.html.twig' %}

{% block title %}{{ 'v.default.index.page_title'|trans }}{% endblock %}

{% block body_content %}

<div id="map-wrapper">
   <div id="map"></div>
   <div id="button-wrapper" style="z-index:1000;">
      <div style="display:inline; margin-right:5px;">
         <select id="vote-select">
            <option value="segments">{{ 'Ways'|trans }}</option>
            <option value="intersections">{{ 'Intersections'|trans }}</option>
         </select>
      </div>

      <div id="loading-message" class="bg-blue btn with-shadow hidden">{{ 'Data loading'|trans }}</div>
      <div id="error-message" class="bg-red btn with-shadow hidden">{{ 'Error for data loading'|trans }}</div>
      <div id="zoom-message" class="bg-orange btn with-shadow hidden">{{ 'Please zoom'|trans }}</div>
   </div>
</div>

{% if piwik %}
   <!-- Piwik -->
      <script type="text/javascript">
         var _paq = _paq || [];
         _paq.push(['trackPageView']);
         _paq.push(['enableLinkTracking']);
         (function() {
            var u="{{ piwik_url }}";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', {{ piwik_site_id }}]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
         })();
      </script>
      <noscript><p><img src="{{ piwik_url }}piwik.php?idsite={{ piwik_site_id }}" style="border:0;" alt="" /></p></noscript>
   <!-- End Piwik Code -->
{% endif %}

<script type="text/template" id="please_log_in">
   {{ 'Please log in'|trans }}
</script>

<script type="text/template" id="no_vote">
   {{ 'v.default.index.no_vote'|trans }}
</script>


<script type="text/template" id="vote-item-list-tpl">
      {{ 'v.default.index.author'|trans }} : {{'{{ author.label }}'}} <br />
      {{ 'v.default.index.vote_value'|trans }} : {{'{{ value }}'}}<br />
      {{ '{{#intersection_path}}' }}
         de {{' {{ segment_start.properties.intersection_id }} '}} à {{' {{ segment_end.properties.intersection_id }} '}}
      {{ '{{/intersection_path}}' }}
      {{ '{{^intersection_path}}' }}
         {{ 'v.default.index.direction'|trans }} : {{'{{#direction_forward}}de A à B{{/direction_forward}}{{#direction_backward}}de B à A{{/direction_backward}}{{#direction_both}}non précisée{{/direction_both}}'}}<br />
      {{ '{{/intersection_path}}' }}
      {{ 'v.default.index.profile'|trans }} :
      ( {{ 'v.default.index.daily_ride'|trans }} : {{'{{#profile.daily_ride}}Vrai{{/profile.daily_ride }}{{^profile.daily_ride}}Faux{{/profile.daily_ride }}'}},
        {{ 'v.default.index.rapidity_vs_security'|trans }} : {{'{{ profile.rapidity_vs_security_label }}'}} )
      <br />
      <br />
</script>

<script type="text/template" id="result-tpl">
   {# Template to wrap all the vote resuts #}
   <div style="text-align: center;">
      <input class="medium default btn" id="display-vote-form-{{'{{ entity_type }}'}}-{{'{{ entity_id }}'}}" type="submit" value="{{'Vote'|trans}}" />
   </div>

   <div>
      <span style="font-size:1.5em; font-weight:900;">{{ 'Results'|trans }}:</span>
      {{'{{{ content }}}'}}
   </div>
</script>

<script type="text/template" id="result-vote-item-list-tpl">
   <p style="font-size:0.75em; font-weight:400;">
      <span style="font-weight:880;">{{'{{ value }}'}} / 5</span>
      (
         {{ 'v.default.index.author'|trans }} : {{'{{ author.username }}'}},
         {{ '{{#intersection_path}}' }}
            de {{' {{ segment_start.properties.intersection_id }} '}} à {{' {{ segment_end.properties.intersection_id }} '}},
         {{ '{{/intersection_path}}' }}
         {{ '{{^intersection_path}}' }}
            {{ 'v.default.index.direction'|trans }} : {{'{{#direction_forward}}de A à B{{/direction_forward}}{{#direction_backward}}de B à A{{/direction_backward}}{{#direction_both}}non précisée{{/direction_both}}'}},
         {{ '{{/intersection_path}}' }}
         {{ 'v.default.index.profile'|trans }} :
            ( {{ 'v.default.index.daily_ride'|trans }} : {{'{{#profile.daily_ride}}Vrai{{/profile.daily_ride }}{{^profile.daily_ride}}Faux{{/profile.daily_ride }}'}},
            {{ 'v.default.index.rapidity_vs_security'|trans }} : {{'{{ profile.rapidity_vs_security_label }}'}} )

      )
   </p>
</script>

<script type="text/template" id="vote-form-tpl">
   <form id="{{'{{ id_vote_form }}'}}" method="post" action="votes/add/{{'{{ entity }}'}}/{{'{{ id }}'}}.json">
      <div class="vote_way" style="display:none">
         {{ 'Vote for entire way'| trans }}
      </div>
      <div class="vote_way_segment" style="display:none">
         {{ 'Vote for selected segments'| trans }}
      </div>
      <div class="field-vote-value">
         {% for i in 1..5 %}
            <label class="label-vote-value" for="{{'{{ id_vote_form }}'}}-value-{{ i }}">
               <input type="radio" id="{{'{{ id_vote_form }}'}}-value-{{ i }}" name="vote_{{'{{ entity }}'}}[value]" value="{{ i }}" />{{ i }}
            </label>
         {% endfor %}
         <br />
         {{ 'v.default.index.vote_value_legend'|trans }}
      </div>
      <div class="error cl-form-message empty-vote-error" style="display:none">
         {{ 'v.default.index.empty_vote'|trans }}
      </div>
      <div class="cl-field-input">
         <label class="cl-label-input" for="{{'{{ id_vote_form }}'}}-date">{{ 'v.default.index.day'|trans }}</label>
         <input class="cl-input" name="vote_{{'{{ entity }}'}}[datetime_vote][date]" id="{{'{{ id_vote_form }}'}}-date" type="text"
            value="{{'{{ now_month }}'}}/{{'{{ now_date }}'}}/{{'{{ now_full_year }}'}}">
      </div>
      <div class="cl-field-input">
         <label class="cl-label-input" for="{{'{{ id_vote_form }}'}}-time">{{ 'v.default.index.hour'|trans }}</label>
         <input class="cl-input" name="vote_{{'{{ entity }}'}}[datetime_vote][time]" id="{{'{{ id_vote_form }}'}}-time" type="text" value="{{'{{ now_hours }}'}}:{{'{{ now_minutes }}'}}">
      </div>
      <div class="cl-field-select" id="{{'{{ id_vote_form }}'}}-direction-div">
         <label class="cl-label-select" for="{{'{{ id_vote_form }}'}}-direction">{{ 'v.default.index.direction'|trans }}</label>
         <select class="cl-select" id="{{'{{ id_vote_form }}'}}-direction" name="vote_{{'{{ entity }}'}}[direction]">
            <option value="both" selected="selected"> {{ 'v.default.index.direction_both' |trans }}</option>
            <option value="forward"> {{ 'v.default.index.direction_forward' |trans }}</option>
            <option value="backward"> {{ 'v.default.index.direction_backward' |trans }}</option>
         </select>
      </div>
      <div class="cl-field-select" id="{{'{{ id_vote_form }}'}}-direction-from-to-div">
         <label class="cl-label-select" for="{{'{{ id_vote_form }}'}}-direction-from">{{ 'v.default.index.direction_from'|trans }}</label>
         <select class="cl-select" id="{{'{{ id_vote_form }}'}}-direction-from" name="vote_{{'{{ entity }}'}}[segmentStart]">
            {{ '{{{ vote_intersection_direction_from }}}'}}
         </select>
         <label class="cl-label-select" for="{{'{{ id_vote_form }}'}}-direction-to">{{ 'v.default.index.direction_to'|trans }}</label>
         <select class="cl-select" id="{{'{{ id_vote_form }}'}}-direction-to" name="vote_{{'{{ entity }}'}}[segmentEnd]">
            {{ '{{{ vote_intersection_direction_to }}}'}}
         </select>
      </div>
      <div class="cl-field-select">
         <label class="cl-label-select" for="{{'{{ id_vote_form }}'}}-profile">{{ 'v.default.index.profile'|trans }}</label>
         <select class="cl-select" id="{{'{{ id_vote_form }}'}}-profile" name="vote_{{'{{ entity }}'}}[profile]">
                  {{ '{{{ vote_profile }}}'}}
         </select>
      </div>
      <div id="{{'{{ id_vote_form }}'}}-error-custom" class="error" style="display:none;"></div>
      <div class="submit_container">
         <input class="medium default btn centered" type="submit" value="{{ 'v.default.index.vote'|trans }}" />
      </div>
   </form>
   <div id="{{'{{ id_vote_form }}'}}-success" class="success" style="display:none;">{{ 'v.default.index.vote_success'|trans }}</div>
   <div id="{{'{{ id_vote_form }}'}}-error-default" class="error" style="display:none;">{{ 'v.default.index.vote_error'|trans }}</div>
</script>

{% endblock %}
