{% extends 'CLCyclabiliteVoteBundle:Admin:index.html.twig' %}


{% block app_js  %}
    <script src="{{ asset('build/admin_trivial_prepare.js') }}"></script>
{% endblock %}


{% block body_admin %}
<div>
    <h2>Paramètres</h2>

    Buffer autour des anciens segments : {{ del_buffer_size }}<br>
    Buffer autour des nouveaux segments : {{ new_buffer_size }}<br>
</div>

<div>
    <h2>{{ "Préparation des données" | trans }}</h2>

    <div id="msg">
    </div>

    <div id="final_msg_ok" class="success msg hidden">
        <div>
            {{ "La préparation des données s'est bien déroulée, vous pouvez exécuter le transfert des votes :" | trans }}
        </div>

        <ul>
            <li><a href="{{ path('trivtrans_check') }}">{{ "Vérification" | trans }}</a></li>
            <li><a href="{{ path('trivtrans_handle', {'transferNbr': 50}) }}">{{ "Exécution (50)" | trans }}</a></li>
            <li><a href="{{ path('trivtrans_handle', {'transferNbr': 250}) }}">{{ "Exécution (250)" | trans }}</a></li>
        </ul>
    </div>

    <div id="final_msg_error" class="error msg hidden">
        {{ "Erreur lors de la préparation des données" | trans }}
    </div>
</div>


<script type="text/javascript">
    let reqs = [
        {'url': '{{ path('trivtrans_reinit', {'newBufferSize':new_buffer_size, 'delBufferSize':del_buffer_size}) }}', 'msg': 'Initilisation'},
        {'url': '{{ path('trivtrans_prepare_table_csl93') }}', 'msg': 'Préparation table CSL93'},
        {'url': '{{ path('trivtrans_prepare_index_csl93') }}', 'msg': 'Préparation des index de la table CSL93'},
    ];
</script>

{% endblock %}
