{% extends 'CLCyclabiliteVoteBundle:Admin:index.html.twig' %}

{% block body_admin %}
    <h1>{{ "Liste de segments à traiter" | trans }}</h1>

    <table>
       <thead>
          <tr>
             <th>{{ "Segment (id)" | trans }}</th>
             <th>{{ "Chemin (id)" | trans }}</th>
             <th>{{ "Noeud départ (id)" | trans }}</th>
             <th>{{ "Noeud fin (id)" | trans }}</th>
             <th>{{ "Nbr. de votes" | trans }}</th>
             <th></th>
          </tr>
       </thead>

       <tbody>
          {% for s in deleted_segments %}
             <tr>
                <td>{{s.id}}</td>
                <td>{{s.way.id}}</td>
                <td>{{s.nodeStart.id}}</td>
                <td>{{s.nodeEnd.id}}</td>
                <td>{{s.votes | length }}</td>
                <td>
                    <a href="{{ path('deleted_segment_transfer', {'id': s.id}) }}">
                        {{ "Traiter" | trans }}
                    </a>
                </td>
             </tr>
          {% endfor %}
       </tbody>
    </table>
{% endblock %}
