{% extends 'CLCyclabiliteVoteBundle:Admin:index.html.twig' %}


{% block app_js  %}
    <script src="{{ asset('build/admin_trivial_check.js') }}"></script>
{% endblock %}

{% block body_admin %}
    <h1>Apperçu des transferts automatiques (cas triviaux)</h1>


    <div>
        Voici des exemples détecté par l'outil de transfert automatique. Le
        transfert sera exécuté seulement si vous lancer la procédure à l'aide
        du bouton en fin de page.
    </div>

    <div>
        <h2>Paramètres</h2>

        Buffer autour des anciens segments : {{ del_buffer_size }}<br>
        Buffer autour des nouveaux segments : {{ new_buffer_size }}<br>
    </div>


    <div>
        <a href="{{ path('trivtrans_stats', {'delBufferSize': del_buffer_size, 'newBufferSize': new_buffer_size}) }}">Voir les stats pour les transferts automatiques</a>
    </div>

    {% for transfer in trivial_transfer %}
        <h2>
            Transfert {{ loop.index }} :
            segment #{{transfer['del_seg'].getId()}} (way
                <a href="https://www.openstreetmap.org/way/{{transfer['del_seg'].getWay.getId()}}">
                    #{{transfer['del_seg'].getWay.getId()}}</a>)
            vers segment #{{transfer['new_seg'].getId()}} (way
                <a href="https://www.openstreetmap.org/way/{{transfer['new_seg'].getWay.getId()}}">
                    #{{transfer['new_seg'].getWay.getId()}}</a>)
        </h2>
        <div id="map-container{{ loop.index }}" class="grid-container map-container">
            <div id="map-from-container{{ loop.index }}" style="padding:5px; grid-column: 1; grid-row: 1;">
                <div
                    id="map-from{{ loop.index }}"
                    class="map-from"
                    style="height: 180px;"
                    data-json='{{ transfer['del_seg_json'] | raw }}'>
                </div>
            </div>
            <div id="map-to-container{{ loop.index }}" style="padding:5px; grid-column: 2; grid-row: 1;">
                <div
                    id="map-to{{ loop.index }}"
                    class="map-to"
                    style="height: 180px;"
                    data-json='{{ transfer['new_seg_json'] | raw }}'>
                </div>
            </div>
        </div>
    {% endfor %}

    <div style="margin-top:40px; text-align:center; width: 100%">
        <div class="btn danger medium" style="display:inline-block">
            <a href="
                {{ path('trivtrans_handle', {
                    'delBufferSize': del_buffer_size,
                    'newBufferSize':new_buffer_size,
                    'transferNbr': 100 })
                }}
            " class="button red">{{ "Lancer le transfert" | trans }}</a>
        </div>
    </div>
{% endblock %}
