{% extends 'CLCyclabiliteVoteBundle::base_nomap.html.twig' %}


{% block title %}{{ 'Create a profile'|trans }}{% endblock %}

{% block body %}
   <div class="row">
      <div class="twelve column">
         <h1>{{ 'Create a profile'|trans }}</h1>
      </div>
   </div>

   {{ form_start(form) }}

   {% include('CLCyclabiliteUserBundle:_form:profile_type.html.twig') %}

   <div class="row">
      <div class="twelve columns">
         <div class="btn medium success">
            <input type="submit" value="{{ 'Submit' | trans }}">
         </div>
      </div>
   </div

   {{ form_end(form) }}
{% endblock body %}
