{% extends 'CLCyclabiliteVoteBundle::base_nomap.html.twig' %}


{% block title %}{{ 'v.profile.view.title'|trans }}{% endblock %}

{% block app_js %}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   {% include('CLCyclabiliteUserBundle:_form:user_type.js.twig') %}
{% endblock app_js %}

{% block body %}

   <div class="row">
      <div class="twelve column">
         <h1>{{ 'v.profile.view.head'|trans }}</h1>
      </div>
   </div>

   {% include('CLCyclabiliteUserBundle:_form:user_type.html.twig') %}

{% endblock body %}
