{% extends 'CLCyclabiliteVoteBundle::base_nomap.html.twig' %}

{# todo : mettre les syles=X dans feuille css#}

{% block title %}Admin section{% endblock %}

{% block topmenu_content %}
Admin section

{% endblock %}

{% block body %}
    <div style="display:grid; width:100%;">
        {% block nav_admin %}
            <div style="grid-column: 4 / 4; grid-row: 1; padding:15px;">
                <div style="font-weight:700; font-size: 1.2rem; margin-bottom: 15px">
                    <a href="{{ path('cl_cyclabilite_admin_index') }}" style="color:black;">Menu d'administration</a>
                </div>
                <ul class="tab-nav">
                    <li><a href="{{ path('cl_cyclabilite_user.admin_experts_edit') }}">{{ "Modifier la liste d'experts" | trans }}</a></li>
                    <li><a href="{{ path('cl_cyclabilite_recompute_average') }}">{{ "Recalcul des votes" | trans }}</a></li>
                    <li><a href="{{ path('trivtrans_prepare', {'delBufferSize': 3.5, 'newBufferSize': 3.5}) }}">{{ "Transfert automatique des votes (triviaux)" | trans }}</a></li>
                    <li><a href="{{ path('deleted_segment_list_for_transfer') }}">{{ "Liste des votes à transférer (manuel)" | trans }}</a></li>
                </ul>
            </div>
        {% endblock %}
        <div style="grid-column: 1 / 4; grid-row: 1; padding:15px;">
            {% block body_admin %}
                <h1>{{ "Section d'administation" | trans }}</h1>
                {{ "Bienvenue dans la section d'administation!" | trans }}

                <h2>{{ "Deleted vote stats" | trans }}</h2>
                <dl>
                    <dt>{{ "Number of deleted votes (untreated)" | trans }}</dt>
                    <dd>{{ deletedSegmentVotesNbr }} </dd>
                </dl>

                <h2>{{ "Paramètres" | trans }}</h2>

                <dl>
                    <dt>{{ "Average vote computer" | trans }}</dt>
                    <dd>{{ averageComputerName }}</dd>
                    <dt>{{ "Env" | trans }}</dt>
                    <dd>{{ env }}</dd>
                    <dt>{{ "Debug" | trans }}</dt>
                    <dd>{{ debug ? 'Yes' : 'No' }}</dd>
                </dl>
            {% endblock %}
        </div>
    </div>
{% endblock %}
