{% extends 'CLCyclabiliteVoteBundle:Admin:index.html.twig' %}

{% block body_admin %}
    <div style="text-align:center;">
        <div class="btn danger medium"><a href="?recomputeAllAverage=yes">{{ 'Recompute all the averages' | trans }}</a></div>
    </div>
{% endblock %}
