{% extends 'CLCyclabiliteVoteBundle:Admin:index.html.twig' %}

{% block body_admin %}
    <h1>{{ "Statistiques pour transfert automatique" | trans }}</h1>

    <dl>
        <dt>trivial_transfers_nbr</dt>
        <dd>{{ trivial_transfers_nbr }}</dd>
        <dt>deleted_seg_nbr</dt>
        <dd>{{ deleted_seg_nbr }}</dd>
        <dt>deleted_seg_votes_nbr</dt>
        <dd>{{ deleted_seg_votes_nbr }}</dd>
    </dl>
{% endblock %}
