{% extends 'CLCyclabiliteVoteBundle:Admin:index.html.twig' %}

{# todo relire code #}
{# todo : style dans feuille css #}

{% block title %}{{ 'Admin | transfert de votes'|trans }}{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
{% endblock %}


{% block app_js  %}
    <script src="{{ asset('build/admin_vote_report.js') }}"></script>

    <script type="text/javascript"> {# todo a supprimer ? #}
        deleted_vote = {{ segment_json | raw  }};
        console.log(deleted_vote);
        // admin(deleted_vote);
    </script>
{% endblock app_js %}



{% block body_admin %}

<h3>
    {{ "Transfert manuel des votes pour le segment" | trans }} #{{ segment.id }}
    (<a href="{{ path('set_segment_in_frigo', {'id': segment.id}) }}">{{ "Mettre au frigo" | trans }}</a>)
</h3>

<div style="grid-column: 1 / 4; grid-row: 1; padding:15px;">
    <div id="maps-container" class="grid-container">
        <div id="map-from-container" style="padding:5px; grid-column: 1; grid-row: 1;">
            <div id="map-from" style="height:200px;"></div>
        </div>
        <div id="map-to-container" style="padding:5px; grid-column: 2; grid-row: 1;">
            <div id="map-to" style="height:200px;"></div>
        </div>
    </div>

    {{ form_start(form) }}
      <div style="display: grid;">
         <div style="grid-column: 1; grid-row: 1; text-align: right;">
            {{ form_label(form.selectedMarkers) }}
         </div>
         <div style="grid-column: 2; grid-row: 1;">
            {{ form_errors(form.selectedMarkers) }}
            {{ form_widget(form.selectedMarkers) }}
         </div>

         <div style="grid-column: 1; grid-row: 2; text-align: right;">
            {{ form_label(form.selectedSegments) }}
         </div>
         <div style="grid-column: 2; grid-row: 2;">
            {{ form_errors(form.selectedSegments) }}
            {{ form_widget(form.selectedSegments) }}
         </div>
         <div style="grid-row: 3; grid-column-start: 1; grid-column-end: 3; text-align:center">
            <input type="submit" value="Valider">
         </div>
      </div>
   {{ form_end(form) }}


   <div class="js-data"
       data-deleted-vote="{{ segment_json }}">
   </div>
</div>
{% endblock %}
