<!DOCTYPE html>
<html>
   <body>
      <table>
         <thead>
            <tr>
               <th>id</th>
               <th>point.lon</th>
               <th>point.lat</th>
            </tr>
         </thead>
    
         <tbody>
            {% for e in entities %}
               <tr>
                  <td>{{e.id}}</td>
                  <td>{{e.point.lon}}</td>
                  <td>{{e.point.lat}}</td>
               </tr>
            {% endfor %}  
         </tbody>
      </table>
   </body>
</html>