{% extends "CLCyclabiliteVoteBundle::base_nomap.html.twig" %}

{% block body %}

{{ form_start(form) }}

{{ form_widget(form) }}

<button type="submit">Voter</button>

{{ form_end(form) }}

{% endblock body %}
