.alert {
    padding: 0 10px;
    font-family: $font-family;
    font-weight: $font-weight-semibold;
    list-style-type: none;
    word-wrap: break-word;
    margin-bottom: $norm / 2;
    font-size: 14px;
    border-radius: 4px;
    @each $shade in $ui-coloring {
        &.#{nth($shade, 1)} {
            background: lighten(nth($shade, 2), 20%);
            border: 1px solid nth($shade, 2);
            color: darken(nth($shade, 2), 20%);
            @if nth($shade, 1) == info {
                color: $default-color;
            }
            @if nth($shade, 1) == default {
                color: darken(nth($shade, 2), 61.5%);
                border: 1px solid nth($shade, 2);
            }
            @if nth($shade, 1) == warning {
                color: darken(nth($shade, 2), 40%);
            }
        }
    }
}