
<div class="row">
   <div class="twelve columns">
      {{ form_row(form.label, {
            'attr' :  {
               'placeholder' :  'v.register.form.profile_label_placeholder'|trans,
               'class'       :  'xwide' },
            'label'  :
               'v.register.form.profile.label_label'|trans,
            'label_attr' : {
               'class'       :  ''
               }
            } )
      }}
   </div>
</div>

<div class="row">
   <div class="twelve columns">
      {{ form_widget(form.dailyRide) }}
   </div>
</div>

<div class="row">
   <div class="twelve columns">
      <div class="picker">
         {{ form_widget(form.rapidityVsSecurity) }}
      </div>
   </div>
</div>

{{ form_rest(form) }}
