<script type="text/javascript">

var collection_holder;

// setup an "add a tag" link
var add_profile_link = $('<div class="btn success btn-with-margin "><a href="#">{{ 'v.register.form.add_a_profile'|trans }}</a></div>');
var new_link_li = $('<li></li>').append(add_profile_link);

jQuery(document).ready(function() {
    // Get the ul that holds the collection of tags
    collection_holder = $('ul#profiles');

    collection_holder.find('li').each(function() {
        addProfileFormDeleteLink($(this));
    });

    // add the "add a tag" anchor and li to the tags ul
    collection_holder.append(new_link_li);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    collection_holder.data('index', collection_holder.find(':input').length);

    add_profile_link.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm(collection_holder, new_link_li);
    });
});

function addTagForm(collection_holder, new_link_li) {
    // Get the data-prototype explained earlier
    var prototype = collection_holder.data('prototype');

    // get the new index
    var index = collection_holder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    collection_holder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var new_form_li = $('<li></li>').append(newForm);
    addProfileFormDeleteLink(new_form_li);
    new_link_li.before(new_form_li);
}

function addProfileFormDeleteLink(form_li) {
   var remove_form_a = $('<div class="delete_profile"><div class="btn danger btn-with-margin "><a href="#">{{ 'v.profile.view.delete_this_profile'|trans }}</a></div></div>');
   form_li.append(remove_form_a);

   remove_form_a.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        form_li.remove();
    });
}

   </script>
