{% form_theme form 'CLCyclabiliteVoteBundle:form:fields.html.twig' %}

{{ form_start(form, { 'attr' : { 'class' : 'form_user_profile' } } ) }}

<div class="row">
   <div class="twelve columns">
      {% if form.username.vars.errors is not empty %}
         <p class="error username">{{ form_errors(form.username) }}</p>
      {% endif %}
      <div class="field">
         {{ form_label(form.username, 'v.register.form.username'|trans, { 'label_attr' : { 'class': 'inline aligned'} }) }}
         {{ form_widget(form.username, { 'attr' : { 'class' : 'wide' } }) }}
      </div>
   </div>
</div>

<div class="row">
   <div class="twelve columns">
      {% if form.birthYear.vars.errors is not empty %}
         <p class="error birth_year">{{ form_errors(form.birthYear) }}</p>
      {% endif %}
      <div class="field">
         {{ form_label(form.birthYear, 'v.register.form.birthYear'|trans, { 'label_attr' : { 'class': 'inline aligned'} }) }}
         {{ form_widget(form.birthYear, { 'attr' : { 'class': 'inline'} }) }}
      </div>
   </div>
</div>


<div class="row">
   <div class="twelve columns">
      {% if form.gender.vars.errors is not empty %}

         <p class="error gender">{{ form_errors(form.gender) }}</p>

      {% endif %}

      <div class="field">
         {{ form_label(form.gender, 'v.register.form.gender'|trans, { 'label_attr' : { 'class': 'inline aligned'} }) }}
         {{ form_widget(form.gender, { 'attr' : { 'class' : 'wide' } }) }}
      </div>
   </div>
</div>

<div class="row">
   <fieldset class="twelve columns">
      <legend>{{ 'v.register.form.legend_create_profiles'|trans }}</legend>
      <ul data-prototype="{{
               form_row(form.activeProfiles.vars.prototype.label, {
                     'attr' :  {
                        'placeholder' :  'v.register.form.profile_label_placeholder'|trans,
                        'class'       :  'xwide' },
                     'label'  :
                        'v.register.form.profile.label_label'|trans,
                     'label_attr' : {
                        'class'       :  ''
                        }
                     } ) ~
               form_widget(form.activeProfiles.vars.prototype.dailyRide) ~
               form_widget(form.activeProfiles.vars.prototype.rapidityVsSecurity) ~
               form_rest(form.activeProfiles.vars.prototype) | escape }}" id="profiles" class="profiles">
         {% for profile in form.activeProfiles %}
            <li class="li-profile">
               {{ form_row(profile.label, {
                     'attr' :  {
                        'placeholder' :  'v.register.form.profile_label_placeholder'|trans,
                        'class'       :  '' },
                     'label'  :
                        'v.register.form.profile.label_label'|trans,
                     'label_attr' : {
                        'class'       :  ''
                        }
                     } ) }}
               {{ form_widget(profile.dailyRide) }}
               {{ form_widget(profile.rapidityVsSecurity) }}
               {{ form_rest(profile) }}
            </li>

         {% endfor %}

      </ul>
   </fieldset>
</div>

<div class="row">
   <div class="twelve columns">
      <div class="medium success btn">
         {{ form_row(form.submitbutton, {'label' : 'v.register.form.record'|trans, 'attr' : { 'class': ''} } ) }}
      </div>
   </div>
</div>
{{ form_rest(form) }}

{{ form_end(form) }}
