<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('build/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block topmenu %}{% endblock %}

        {% block flashmessage%}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="row">
                    <div class="flash-notice primary alert ">
                        {{ flashMessage }}
                    </div>
                </div>
            {% endfor %}

             {% for flashMessage in app.session.flashbag.get('warning') %}
                <div class="row">
                   <div class="flash-notice danger alert ">
                      {{ flashMessage }}
                   </div>
                </div>
             {% endfor %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block before_app_js %}{% endblock %}
        {% block app_js  %}{% endblock %}
        {% block after_app_js %}{% endblock %}
    </body>
</html>
