{% extends 'CLCyclabiliteVoteBundle::base_skeleton.html.twig' %}

{% block topmenu %}
    <div id="top_menu" class="row nomap">
        <div id="top_menu_container" class="twelve column">
            {% block topmenu_content %}
                {% if is_granted('ROLE_USER') %}
                    {{ 'v.base.welcome'|trans( {'%label%': app.user} ) }} |
                    <a href="{{ path('cl_cyclabilite_user.profile') }}">{{ 'Your profile'|trans }}</a> |
                    <a href="{{ path('cl_cyclabilite_vote_homepage') }}">{{ 'v.base.back_to_map'|trans }}</a> |
                    <div class="small danger btn">
                        <a id="log-out-link" href="{{ path('fos_user_security_logout') }}">{{ 'Log out'|trans }}</a>
                    </div>
                {% else %}
                    <a href="{{ path('cl_cyclabilite_vote_homepage') }}">{{ 'v.base.back_to_map'|trans }}</a>
                    <div class="small success btn">
                        <a id="log-in-link" href="{{ path('fos_user_security_login') }}">{{ 'Log in'|trans }}</a>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
