{% extends 'CLCyclabiliteVoteBundle::base_skeleton.html.twig' %}

{% block app_js  %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('ROLE_USER') %}
        {% set current_user = {'id': app.user.id, 'username': app.user.username } %}
    {% else %}
        {% set current_user = '' %}
    {% endif %}

    <div class="js-data"
        data-cities="{{ cities|json_encode|e('html_attr') }}"
        data-default-city="{{ default_city }}"
        data-user="{{ current_user|json_encode|e('html_attr') }}">
    </div>

    <script type="text/javascript">
        var cities = {
            {% for city in cities %}
                '{{ city.name }}':  [{{  city.lat }}, {{ city.lon }}, {{ city.zoom }}],
            {% endfor %}
        };

        {% if default_city %}
            var default_city = '{{ default_city }}';
        {% else %}
            var default_city = null;
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('ROLE_USER') %}
            var current_user = {'id': {{ app.user.id }}, 'username': '{{ app.user.username}}'};
        {% else %}
            var current_user = null;
        {% endif%}
    </script>

    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}

{% block body %}
    <div style='display:none'>
        <div id='town_choice_div'>
            <ul>
                {% for city in cities %}
                    <li><a href="#{{ city.name }}"
                        todo_onclick="$.colorbox.close();">{{ city.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% block body_content %}{% endblock %}
{% endblock %}

{% block topmenu %}
    <div id="top_menu">
        <div id="top_menu_container">
            <div id="menu_for_logged_user" class="hidden">
                <a id="see-profile-link" href="{{ path('cl_cyclabilite_user.profile') }}"></a>

                <div class="medium primary btn">
                    <a id="log-out-link" href="{{ path('fos_user_security_logout') }}">{{ 'Log out' | trans }}</a>
                </div>
            </div>
            <div id="menu_for_unlogged_user" class="hidden">
                <div class="hidden">
                    <div id="log-in-modal">
                        {{ include('CLCyclabiliteUserBundle:Security:login_content.html.twig') }}
                    </div>
                </div>

                <div class="medium primary btn">
                    <a id="log-in-link" href="#log-in-modal">{{ 'Log in' | trans }}</a>
                </div>
            </div>
        </div>

        <div id="town_choice_and_help">
            <a id="town_choice_link" href="#town_choice_div"><img src="{{ asset('bundles/clcyclabilitevote/img/home.png') }}" alt="{{ 'v.base.town_choice'|trans }}"></a>
            <a href="help/"><img src="{{ asset('bundles/clcyclabilitevote/img/help.png') }}" alt="{{ 'v.base.help'|trans }}"></a>
        </div>
    </div>
{% endblock %}
