{% extends 'CLCyclabiliteVoteBundle:Admin:index.html.twig' %}

{% block title %}Admin User List{% endblock %}

{% block body_admin %}
    <div class="eight columns">
        <h1>{{ 'Experts' | trans }}</h1>

        {% if experts %}
            <ul id="experts-list">
                {% for user in experts %}
                    <li>
                        {{user }}, {{user.email}} (<a href="?changeForUserId={{ user.id }}">{{'set as non-expert' | trans}}</a>)
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {{ 'No experts' | trans }}
        {% endif %}

        <h1>{{ 'Non Experts' | trans }}</h1>

        {% if nonExperts %}
            <ul id="non-experts-list">
                {% for user in nonExperts %}
                    <li>
                        {{user }}, {{user.email}} (<a href="?changeForUserId={{ user.id }}">{{'set as expert' | trans}}</a>)
                    </li>
              {% endfor %}
            </ul>
        {% else %}
            {{ 'No non-experts' | trans }}
        {% endif %}
    </div>
{% endblock %}
