<!DOCTYPE html>
<html>
   <body>
      <table>
         <thead>
            <tr>
               <th>id</th>
               <th>visible</th>
               <th>name</th>
               <th>highway</th>
            </tr>
         </thead>
    
         <tbody>
            {% for e in entities %}
               <tr>
                  <td>{{e.id}}</td>
                  <td>{{e.visible}}</td>
                  <td>{{e.name}}</td>
                  <td>{{e.highway}}</td>
               </tr>
            {% endfor %}  
         </tbody>
      </table>
   </body>
</html>