<div class="row">
    <div class="twelve columns">
        <p id="p_error_message" class="error label {% if not error is defined %}hidden{% endif %}">
            {% if error %}
                {{ error.messageKey|trans(error.messageData, 'security') }}
            {% endif %}
        </p>
    </div>
</div>

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="row">
        <div class="twelve columns">
            <div class="field">
                <label for="username" class="inline required">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="input" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <div class="field">
                <label for="password" class="inline required">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" class="input" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="checkbox" />
            <label for="remember_me" class="inline" >{{ 'security.login.remember_me'|trans }}</label>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <div class="medium success btn">
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </div>
        </div>
    </div>
</form>

    <div class="row">
        <div class="twelve columns" style="text-align:center;">
            <div class="small primary btn">
                <a target="_blank" href="{{ path("fos_user_registration_register") }}">{{ 'register'|trans}}</a>
            </div>
            <div class="small warning btn">
                <a target="_blank" href="{{ path("fos_user_resetting_request") }}">{{ 'lost password'|trans}}</a>
            </div>
        </div>
    </div>
